@font-face {
  font-family: 'PP Pangaia Medium';
  src: url('pp-pangaia-medium.otf') format('opentype');
}

@font-face {
  font-family: 'PP Pangaia Medium Italic';
  src: url('pp-pangaia-medium-italic.otf') format('opentype');
}

@font-face {
  font-family: 'PP Editorial Old Ultra Bold';
  src: url('pp-editorial-old-ultrabold.otf') format('opentype');
}

@font-face {
  font-family: 'PP Editorial Old Ultra Light';
  src: url('pp-editorial-old-ultralight.otf') format('opentype');
}
