@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Calistoga&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@import 'tailwindcss';

@font-face {
  font-family: 'PP Pangaia Medium';
  src: url('/fonts/pp-pangaia-medium.otf') format('opentype');
}

@font-face {
  font-family: 'PP Pangaia Medium Italic';
  src: url('/fonts/pp-pangaia-medium-italic.otf') format('opentype');
}

@font-face {
  font-family: 'PP Editorial Old Regular';
  src: url('/fonts/pp-editorial-old-regular.otf') format('opentype');
}

@font-face {
  font-family: 'PP Editorial Old Ultra Light';
  src: url('/fonts/pp-editorial-old-ultralight.otf') format('opentype');
}

@font-face {
  font-family: 'PP Editorial Old Ultra Bold';
  src: url('/fonts/pp-editorial-old-ultrabold.otf') format('opentype');
}

/* color */
.bg-primary {
  background-color: #f6efe5;
}

.bg-secondary {
  background-color: #515726;
}

.bg-tertiary {
  background-color: #f9edde;
}

.bg-quaternary {
  background-color: #fffaf4;
}

.bg-quinary {
  background-color: #768607;
}

.bg-quinary-light {
  background-color: #ad1a1b;
}

.bg-menu-1 {
  background-color: #f5eadc;
}

/* text */
.text-primary {
  color: #ad1a1b;
}

.text-secondary {
  color: #724947;
}

.text-tertiary {
  color: #282828;
}

.text-tertiary-light {
  color: #f9edde;
}

.text-quaternary {
  color: #515726;
}

.text-quinary {
  color: #656464;
}

.text-quinary-light {
  color: #fffaf4;
}

.text-quinary-dark {
  color: #5f6d02;
}

.text-quinary-dark-light {
  color: #851718;
}

.text-quinary-dark-light-2 {
  color: #686f34;
}

.text-rooms-1 {
  color: #353434;
}

.text-rooms-2 {
  color: #752e21;
}

.text-rooftop-1 {
  color: #393939;
}

.text-rooftop-2 {
  color: #414141;
}

.text-rooftop-3 {
  color: #63710f;
}

.text-menu-1 {
  color: #724e47;
}

/* border */
.border-primary {
  border-color: #ad1a1b;
}

.border-secondary {
  border-color: #d9d9d9;
}

.border-tertiary {
  border-color: #f9edde;
}

.border-quaternary {
  border-color: #515726;
}

.border-quinary-light {
  border-color: #ad1a1b;
}

.border-quinary-dark {
  border-color: #5f6d02;
}

.border-rooms-1 {
  border-color: #48120f;
}

.border-rooms-2 {
  border-color: #ffb6b7;
}

.border-menu-1 {
  border-color: #d4d4d4;
}

/* font */
.font-roboto {
  font-family: 'Roboto', sans-serif;
}

.font-calistoga {
  font-family: 'Calistoga', sans-serif;
}

.font-pangaia-medium {
  font-family: 'PP Pangaia Medium', sans-serif;
}

.font-pangaia-medium-italic {
  font-family: 'PP Pangaia Medium Italic', sans-serif;
}

.font-editorial-old-regular {
  font-family: 'PP Editorial Old Regular', sans-serif;
}

.font-editorial-old-ultralight {
  font-family: 'PP Editorial Old Ultra Light', sans-serif;
}

.font-editorial-old-ultrabold {
  font-family: 'PP Editorial Old Ultra Bold', sans-serif;
}

/* Global Styles */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* animation */
@keyframes scroll {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-scroll {
  animation: scroll 40s infinite linear;
}

.animate-scroll:hover {
  animation-play-state: paused;
}
